/////////////////////////////////
/// HEADER
.logo {
  font-size: inherit;
}

.main-nav {
  &__list {
    list-style: none;
    padding: 2rem;

    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 3.2rem;
    }
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

  &__link:hover,
  &__link:active {
    color: var(--color-secondary);
  }
}

.user-button {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  border: none;
}

/////////////////////////////////
/// DESCRIPTION SECTION
.primary__heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.05rem;
  margin-bottom: 5.2rem;
}

.paragraph {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 4.2rem;
}

/////////////////////////////////
/// IMAGE
.textile__image {
  width: 100%;
}

/////////////////////////////////
/// BUTTON
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--color-secondary);
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;

  &:not(:last-of-type) {
    margin-right: 1.6rem;
  }
}

.btn:hover,
.btn:active {
  background-color: var(--color-green-light-2);
}
